{% extends "base.html" %}
{% block content %}
<h2>单据查询</h2>
<form class="row g-2 mb-3" method="get" action="/orders/">
  <input class="form-control col" name="customer" value="{{customer_q}}" placeholder="客户名称">
  <input class="form-control col" type="date" name="start_date" value="{{start_date}}" title="开始日期">
  <input class="form-control col" type="date" name="end_date" value="{{end_date}}" title="结束日期">
  <button class="btn btn-primary col-2">筛选</button>
</form>
<div class="d-flex gap-2 mb-3"><a class="btn btn-primary" href="/orders/new">新建订单</a><button class="btn btn-danger" type="button" onclick="submitSelected('bulkOrdersForm','确认删除选中的单据吗？')">删除选中</button></div>
<form id="bulkOrdersForm" method="post" action="/orders/bulk_delete"></form>
<table class="table table-striped align-middle stable-table">
  <colgroup><col style="width:44px"><col style="width:17%"><col style="width:19%"><col style="width:13%"><col style="width:11%"><col style="width:10%"><col style="width:300px"></colgroup>
  <tr><th><input type="checkbox" onclick="toggleAll(this,'ids')"></th><th>单号</th><th>客户</th><th>日期</th><th>金额</th><th>状态</th><th class="action-cell">操作</th></tr>
  {% for o in orders %}
  <tr>
    <td><input form="bulkOrdersForm" type="checkbox" name="ids" value="{{o.id}}"></td><td title="{{o.order_no}}">{{o.order_no}}</td><td title="{{o.customer_name}}">{{o.customer_name}}</td><td>{{o.order_date}}</td><td>{{cents_to_yuan(o.total_amount_cents)}}</td><td>{{o.status}}</td>
    <td class="action-cell"><div class="action-wrap">
      <a class="btn btn-sm btn-secondary" href="/orders/{{o.id}}">回看</a>
      <a class="btn btn-sm btn-primary" href="/orders/{{o.id}}/edit">重编辑</a>
      <a class="btn btn-sm btn-info" href="/orders/{{o.id}}/pdf" target="_blank">打印</a>
      <form class="d-inline ajax-delete-form" method="post" action="/orders/{{o.id}}/delete"><button class="btn btn-sm btn-danger">删除</button></form>
    </div></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
